In [1]:
import pandas as pd

df1 = pd.read_csv('../ocean_air/data/input.csv')
print(df1.shape)
df1[:2]

(3106374, 40)

,CODI EOI,NOM ESTACIO,DATA,MAGNITUD,CONTAMINANT,UNITATS,TIPUS ESTACIO,AREA URBANA,CODI INE,MUNICIPI,CODI COMARCA,NOM COMARCA,01h,02h,03h,04h,05h,06h,07h,08h,09h,10h,11h,12h,13h,14h,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h,ALTITUD,LATITUD,LONGITUD,GEOREFERENCIA
0,43148003,Tarragona (Bonavista),25/01/2023,10,PM10,µg/m3,industrial,suburban,43148,Tarragona,36,Tarragonès,11.00,9.00,12.00,12.00,11.00,12.00,15.00,18.00,19.00,24.00,22.00,22.00,28.00,24.00,17.00,22.00,18.00,24.00,28.00,29.00,39.00,33.00,24.00,20.00,39,41.12,1.19,POINT (1.1919986 41.11591)
1,8137001,Montseny (La Castanya),25/01/2023,12,NOX,µg/m3,background,rural,8137,Montseny,41,Vallès Oriental,2.00,2.00,2.00,2.00,2.00,2.00,2.00,1.00,1.00,2.00,2.00,1.00,NaN,NaN,NaN,3.00,14.00,9.00,4.00,3.00,3.00,3.00,2.00,2.00,693,41.78,2.36,POINT (2.358002 41.77928)

In [7]:
import pandas as pd

df1 = pd.read_csv('../ocean_air/data/input.csv', nrows = 100)
print(df1.shape)
df1[:2]

(100, 40)

,CODI EOI,NOM ESTACIO,DATA,MAGNITUD,CONTAMINANT,UNITATS,TIPUS ESTACIO,AREA URBANA,CODI INE,MUNICIPI,CODI COMARCA,NOM COMARCA,01h,02h,03h,04h,05h,06h,07h,08h,09h,10h,11h,12h,13h,14h,15h,16h,17h,18h,19h,20h,21h,22h,23h,24h,ALTITUD,LATITUD,LONGITUD,GEOREFERENCIA
0,43148003,Tarragona (Bonavista),25/01/2023,10,PM10,µg/m3,industrial,suburban,43148,Tarragona,36,Tarragonès,11.00,9.00,12.00,12.00,11.00,12.00,15.00,18.00,19.00,24.00,22.00,22.00,28.00,24.00,17.00,22.00,18.00,24.00,28.00,29.00,39.00,33.00,24.00,20.00,39,41.12,1.19,POINT (1.1919986 41.11591)
1,8137001,Montseny (La Castanya),25/01/2023,12,NOX,µg/m3,background,rural,8137,Montseny,41,Vallès Oriental,2.00,2.00,2.00,2.00,2.00,2.00,2.00,1.00,1.00,2.00,2.00,1.00,NaN,NaN,NaN,3.00,14.00,9.00,4.00,3.00,3.00,3.00,2.00,2.00,693,41.78,2.36,POINT (2.358002 41.77928)

In [6]:
df1.groupby('NOM COMARCA').size().reset_index()#.to_csv('out.csv', index = False)

          NOM COMARCA       0
0            Alt Camp   45005
1         Alt Empordà   10904
2         Alt Penedès   70071
3               Anoia   78027
4               Bages   65222
5           Baix Camp  137434
6           Baix Ebre   20661
7        Baix Empordà   19541
8      Baix Llobregat  334858
9          Barcelonès  517339
10           Berguedà  102998
11           Cerdanya   32194
12             Garraf   96287
13          Garrigues   22283
14           Garrotxa   16385
15            Gironès   70624
16            Maresme   63027
17            Montsià   50106
18            Noguera    8036
19              Osona   78165
20      Pallars Jussà   26851
21     Pallars Sobirà   11329
22            Priorat    6067
23      Ribera d'Ebre    4250
24      Ribera d¿Ebre    2339
25           Ripollès    9889
26             Segrià   67975
27         Tarragonès  507147
28         Terra Alta   11711
29  Vallès Occidental  372568
30    Vallès Oriental  247081

In [4]:
s = open('file1.txt').read()
print(s)

Test file for Compute-to-Data